* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-size: 16px;
font-family: nunito, Arial, sans-serif;
}

nav {
    background-color: pink;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 1rem;
}

h1 {
    color: pink;
    padding: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/ 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    /* Using auto on the height avoids distorting the image */
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    background-color: #ffe0ee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

aside {
    width: 20em;
    text-align: center;
}

aside h2 {
    position: absolute;
    bottom: -40px;
    left: 0px;
    position: relative;
}